<div xmlns:th="http://www.thymeleaf.org">
	<div id="main">
		<header class="mb-3">
			<a href="#" class="burger-btn d-block d-xl-none">
				<i class="bi bi-justify fs-3"></i>
			</a>
		</header>

		<div class="page-heading">
			<div class="page-title">
				<div class="row">
					<div class="col-12 col-md-6 order-md-1 order-last">
						<h3>Sửa Danh Mục</h3>
					</div>
					<div class="col-12 col-md-6 order-md-2 order-first">
						<nav aria-label="breadcrumb"
							 class="breadcrumb-header float-start float-lg-end">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a th:href="@{/legoshop/admin}">Dashboard</a>
								</li>
								<li class="breadcrumb-item">
									<a th:href="@{/legoshop/admin/danhmuc}">Danh Mục</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">
									Sửa Danh Mục
								</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>

			<section id="multiple-column-form">
				<div class="row match-height">
					<div class="col-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Multiple Column</h4>
							</div>
							<div class="card-content">
								<div class="card-body">
									<form class="form"
										  th:action="@{/legoshop/admin/danhmuc/edit}"
										  method="post"
										  th:object="${model}">

										<input type="hidden" th:field="*{id}">

										<div class="row">
											<div class="col-md-12 col-12">

												<div class="form-group">
													<label>Tên Danh Mục</label>
													<input type="text"
														   class="form-control"
														   th:field="*{tenDanhMuc}"
														   placeholder="Tên Danh Mục">
													<span class="text-danger"
														  th:if="${#fields.hasErrors('tenDanhMuc')}"
														  th:errors="*{tenDanhMuc}"></span>
												</div>

												<div class="form-group">
													<label>Đường Dẫn</label>
													<input type="text"
														   class="form-control"
														   th:field="*{duongDan}"
														   placeholder="Đường Dẫn">
													<span class="text-danger"
														  th:if="${#fields.hasErrors('duongDan')}"
														  th:errors="*{duongDan}"></span>
												</div>

											</div>

											<div class="col-12 d-flex justify-content-end">
												<button type="submit"
														class="btn btn-primary me-1 mb-1">
													Submit
												</button>
											</div>
										</div>

									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		</div>
	</div>
</div>